{% extends "index.html" %}

{% block title %} Adicionar Carro {% endblock %}

{% block page_title %} Adicionar Carro {% endblock %}

{% block content %} 
<form action="/carro_adicionar" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for="nome">Nome do Carro:</label>
    <input type="text" name="nome" id ="nome"><br>
    <br>
    <label for="pais">Ano de Fabricação:</label>
    <input type="number" name="ano_fabricacao" id="ano_fabricacao"><br>
    <br>
    <label for="montadora_id">Montadora:</label>
    <select name="montadora_id" id="montadora_id">
        <option value="">Selecione uma montadora</option>
        {% for montadora in montadoras %}
            <option value="{{ montadora.id }}">{{ montadora.nome }}</option>
        {% endfor %}
    </select><br>
    <br>
    <button type="submit">Adicionar</button>
</form>
<br>
<form action="/carros_lista" method="get">
    <button type="submit">Voltar</button>
</form>
{% endblock %}
