{% extends "index.html" %}

{% block title %} Detalhes do Carro {% endblock %}

{% block page_title %} Detalhes do Carro {% endblock %}

{% block content %}
    <h2>{{ carro.nome }}</h2>
    <p><strong>Ano de Fabricação:</strong> {{ carro.ano_fabricacao }}</p>
    <p><strong>Montadora:</strong> {{ carro.montadora.nome }}</p>
    <p><strong>País de Origem:</strong> {{ carro.montadora.pais }}</p>
    <a href="/montadora/{{ carro.montadora.id }}">Ver Detalhes da Montadora</a>
    <a href="/carros_lista">Voltar para a Lista de Carros</a>
{% endblock %}

