<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_css %} {% endblock %}
    <title>{% block title %} PatroCars {% endblock %}</title> 
</head>
<body>
    <header>
        <h1>PatroCars</h1>
    </header>
    <main>
        <h2>{% block page_title %} Boas Vindas ao PatroCars {% endblock %}</h2>
        {% block content %}
        <form action="/montadoras_lista" method="get" style="display: inline-block;">
            <button type="submit">Montadoras</button>
        </form>
        <form action="/modelos_lista" method="get" style="display: inline-block;">
            <button type="submit">Modelos</button>
        </form>
        <form action="/veiculos_lista" method="get" style="display: inline-block;">
            <button type="submit">Veículos</button>
        </form>
        <br><br>
        <form action="/login" method="get" style="display: inline-block;">
            <button type="submit">Sair</button>
        </form>
        {% endblock %}
    </main>
    <footer>
    </footer>
</body>
</html>