{% extends "index.html" %}

{% block title %}Login{% endblock %}

{% block page_title %}{% endblock %}

{% block content %}
<section id="section-login">
    <div class="d-flex justify-content-center">
        <form method="post" action="/login" id="login">
            <h2>Login</h2>
            <p>
                <label for="username">Nome de usuário: </label>
                <input id="username" name="username" required="required" type="text" placeholder="Nome de usuário" class="form-control" />
            </p>
            <p>
                <label for="password">Senha: </label>
                <input id="password" name="password" required="required" type="password" placeholder="Senha" class="form-control" />
            </p>
            <p>
                <button type="submit" class="btn btn-outline-success" onclick="login()">Entrar</button>
            </p>
            {% if error %}
            <p style="color: red;">{{ error }}</p>
            {% endif %}
            {% if message %}
            <p style="color: green;">{{ message }}</p>
            {% endif %}
        </form>
    </div>
</section>
<section id="section-cadastro">
    <div class="d-flex justify-content-center" id="botao-cadastrar">
        <button type="button" class="btn btn-outline-info" data-bs-toggle="collapse" data-bs-target="#form-cadastrar">Não é cadastrado ainda? Cadastre-se</button>
    </div><br>
    <div id="form-cadastrar" class="collapse">
        <div class="d-flex justify-content-center">
            <h2>Criar minha conta</h2>
        </div>
        <div class="d-flex justify-content-center">
            <form method="post" action="/cadastro" id="cadastro">
                <p>
                    <label for="username">Nome de usuário: </label>
                    <input id="username_cadastro" name="username" required="required" type="text" placeholder="Nome de usuário" class="form-control" />
                </p>
                <p>
                    <label for="password">Senha: </label>
                    <input id="password_cadastro" name="password" required="required" type="password" placeholder="Mínimo de 6 caracteres" class="form-control" />
                </p>
                <p>
                    <button type="submit" class="btn btn-outline-primary" onclick="cadastro()">Cadastrar</button>
                </p>
            </form>
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}{% endblock %}