{% extends "index.html" %}

{% block title %} Detalhes do Modelo {% endblock %}

{% block page_title %} Detalhes do Modelo {% endblock %}

{% block content %}
    <h2>{{ modelo.nome }}</h2>
    <p><strong>Valor de Referência:</strong> R$ {{ "{:,.3f}".format(modelo.valor_referencia) }}</p>
    <p><strong>Ano:</strong> {{ modelo.ano_modelo }}</p>
    <p><strong>Motorização:</strong> {{ modelo.motorizacao }}</p>
    <p><strong>Turbo:</strong> {{ "Sim" if modelo.turbo else "Não" }}</p>
    <p><strong>Transmissão Automática:</strong> {{ "Sim" if modelo.automatico else "Não" }}</p>
    <p><strong>Montadora:</strong> {{ modelo.montadora.nome }}</p>
    <p><strong>País de Origem:</strong> {{ modelo.montadora.pais }}</p>
    <form action="/modelo_atualizar/{{ modelo.id }}" method="get">
        <button type="submit">Atualizar</button>
    </form>
    <br>
    <form action="/montadora_detalhes/{{ modelo.montadora.id }}" method="get">
        <button type="submit">Ver Detalhes da Montadora</button>
    </form>
    <br>
    <form action="/modelos_lista" method="get">
        <button type="submit">Voltar</button>
    </form>
{% endblock %}

