{% extends "index.html" %}

{% block title %} Adicionar Montadora {% endblock %}

{% block page_title %} Adicionar Montadora {% endblock %}

{% block content %} 
<form action="/montadora_adicionar" method="post">
    <label for="nome">Nome da Montadora:</label>
    <input type="text" name="nome" id ="nome"><br>
    <br>
    <label for="pais">País de origem:</label>
    <input type="text" name="pais" id ="pais"><br>
    <br>
    <label for="ano_fundacao">Ano de fundação:</label>
    <input type="number" name="ano_fundacao" id ="ano_fundacao"><br>
    <br>
    <button type="submit">Adicionar</button>
</form>
<br>
<form action="/montadoras_lista" method="get">
    <button type="submit">Voltar</button>
</form>
{% endblock %}