{% extends "index.html" %}

{% block title %} Montadoras {% endblock %}

{% block page_title %} Montadoras {% endblock %}

{% block content %} 
    <ul>
        {% for montadora in montadoras %}
            <li> {{montadora.nome}} </li>
            <div style="display: inline-block;">
                <form action="/montadora_detalhes/{{ montadora.id }}" method="get" style="display: inline-block;">
                    <button type="submit" class="btn btn-success">Detalhes</button>
                </form>
                <form action="/montadora_atualizar/{{ montadora.id }}" method="get" style="display: inline-block;">
                    <button type="submit" class="btn btn-primary">Atualizar</button>
                </form>
                <form action="/montadora_deletar/{{ montadora.id }}" method="post" style="display: inline-block;">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit" class="btn btn-danger">Deletar</button>
                </form>
                <br><br>
            </div>
        {% endfor %}
    </ul>
    <form action="/montadora_adicionar" method="get">
        <button type="submit" class="btn btn-primary">Adicionar</button>
    </form>
    <br>
    <form action="/index" method="get">
        <button type="submit" class="btn btn-secondary">Voltar</button>
    </form>
{% endblock %}  