{% extends "index.html" %}

{% block title %} Atualizar Montadora {% endblock %}

{% block page_title %} Atualizar Montadora {% endblock %}

{% block content %} 
<form action="/montadora_atualizar/{{ montadora.id }}" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for="nome">Nome da Montadora:</label>
    <input type="text" name="nome" id ="nome" value="{{ montadora.nome }}"><br>
    <br>
    <label for="pais">País de origem:</label>
    <input type="text" name="pais" id ="pais" value="{{ montadora.pais }}"><br>
    <br>
    <label for="ano_fundacao">Ano de fundação:</label>
    <input type="number" name="ano_fundacao" id ="ano_fundacao" value="{{ montadora.ano_fundacao }}"><br>
    <br>
    <button type="submit">Atualizar</button>
</form>
<br>
<form action="/montadoras_lista" method="get">
    <button type="submit">Voltar</button>
</form>
{% endblock %}
